*{
    color: #ffffff;
    background-color: #737373;
}

#treeView, #codeEdit, #tabWidget, #console, QHeaderView::section, QTabBar::tab:selected, QTabBar::tab:hover{
    background-color: #000000;
}

#startButton, #stopButton, QTabWidget::pane, QTabWidget::tab-bar, QTabBar::tab{
    background-color: #737373;
}

#startButton:pressed, #stopButton:pressed{
    background-color: rgb(230, 230, 230);
}

QMenu::item:selected {
    background-color: rgb(85, 113, 210);
}