*{
    color: #ffffff;
    background-color: #3c3f41;
}

#treeView, #codeEdit, #tabWidget, #console, QHeaderView::section, QTabBar::tab:selected, QTabBar::tab:hover{
    background-color:  #272822;
}

#startButton, #stopButton, QTabWidget::pane, QTabWidget::tab-bar, QTabBar::tab{
    background-color: #3c3f41;
}

#startButton:pressed, #stopButton:pressed{
    background-color: rgb(230, 230, 230);
}

QMenu::item:selected {
    background-color: rgb(85, 113, 210);
}

QTabWidget::pane {
    border-top: 1px solid #C2C7CB;
}

#applyButton{
    background-color: #365880;
    color: #ffffff;
}